.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 9999;
  overflow: hidden;
}

.black-screen {
  color: white;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  white-space: nowrap;
  text-align: center;
  position: relative;
  z-index: 2;
}

.text {
  font-family: "Teko", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.char {
  display: inline-block;
  opacity: 0;
  color: transparent;
  animation: charge 0.5s forwards;
}

.char:nth-child(odd) {
  animation-delay: 0.1s;
}

.char:nth-child(even) {
  animation-delay: 0.2s;
}

@keyframes charge {
  0% {
    opacity: 0;
    color: transparent;
  }
  50% {
    opacity: 0.5;
    color: #666;
  }
  100% {
    opacity: 1;
    color: #fff;
  }
}
