// @import "./_variables";
// .navbar {
//   font-family: Inter, "Hiragino Sans";
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   width: 100vw;
//   display: flex;
//   flex-direction: row;
//   top: 0;
//   background-color: transparent;
//   z-index: 1000;
//   display: flex;
//   justify-content: end;
//   align-items: center;
//   padding: 10px;
// }

// .category-slider {
//   flex-grow: 1;
//   margin-right: 20px;
// }

// .nav-links a:hover {
//   color: #7d5656;
// }

// .dropdown-content {
//   display: flex;
//   flex-direction: column;
// }
// .nav-container {
//   display: flex;
//   flex-direction: row;
// }

// @keyframes flip {
//   from {
//     transform: perspective(400px) rotateY(0deg);
//   }
//   to {
//     transform: perspective(400px) rotateY(180deg);
//   }
// }
// .navbarWrapper {
//   width: 100%;
// }

// .nav-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 10px 20px;
// }

// // dropdown
// .category-dropdown {
//   position: relative;
// }

// .dropdown-content {
//   display: none;
//   position: absolute;
//   top: 30px;
//   left: 0;
//   background-color: white;
//   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//   z-index: 1;
// }

// .category-dropdown:hover .dropdown-content {
//   display: block;
// }
// // navlinks

// .nav-links.open {
//   margin-top: 0.3rem;
//   display: flex;
// }
// .nav-links a {
//   display: flex;
//   flex-direction: column;
//   align-items: start;
//   flex: 0;
//   position: relative;
//   margin: 0 10px;
//   text-decoration: none;
//   color: $a-color;
//   font-weight: 500;
//   margin-right: 3rem;
//   overflow: hidden;
// }
// .nav-links a::after {
//   content: "";
//   position: absolute;
//   left: 50%;
//   bottom: -5px;
//   width: 100%;
//   height: 2px;
//   background: #7d5656;
//   transform: translateX(-50%) scaleX(0);
//   transition: transform 0.3s ease;
// }
// .nav-links a:hover::after {
//   transform: translateX(-50%) scaleX(1);
// }
// .category-link {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   color: black;
// }
// // Logo

// .logo {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 2rem;
//   position: absolute;
//   left: 10%;
//   top: -10%;
//   width: 4rem;
//   height: 4rem;
//   z-index: 100;
//   color: white;
// }

// .logo-part {
//   font-family: "Arial", sans-serif;
//   transition: all 0.3s ease;
// }

// /* Distinct font for "Le" */
// .logo-part.fancy {
//   font-family: "Quicksand", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 900;
//   font-style: normal;
//   color: #92a50d;
// }

// /* Regular font for "ni" */
// .logo-part.normal {
//   font-family: "Quicksand", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 500;
//   font-style: normal;
//   color: #92a50d;
// }

// /* Thin and faded font for "on" */
// .logo-part.faded {
//   font-family: "Quicksand", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 300;
//   font-style: normal;
//   color: #92a50d;
// }

// // hamburger menu
// .hamburger-menu {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   width: 40px;
//   height: 25px;
//   background: none;
//   border: none;
//   cursor: pointer;
//   padding: 0;
// }
// /* Mobile-specific styles */
// @media (max-width: 768px) {
//   .hamburger-menu {
//     display: block;
//     color: white;
//     background-color: transparent;
//   }

//   .nav-links {
//     display: none;
//     flex-direction: column;
//     position: absolute;
//     top: 60px;
//     right: 20px;
//     background-color: white;
//     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
//     padding: 10px 20px;
//     border-radius: 5px;
//   }

//   .nav-links.open {
//     display: flex;
//   }
// }
@import "./_variables";
.navbar {
  font-family: Inter, "Hiragino Sans";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 1rem;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
// hamburger menu
.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}
// navlinks

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: blueviolet;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 5px;
}
.open {
  display: flex;
  flex-direction: column;
}
//box with logo
.box-container {
  position: absolute;

  overflow: hidden;
  top: -400;
}
.pointed-box {
  width: 50rem;
  height: 5rem;
  background-color: black;
  clip-path: polygon(0 20%, 100% 20%, 80% 100%, 20% 100%);
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo {
  position: absolute;
  top: 80px;
}
@media (max-width: 780px) {
  .pointed-box {
    width: 15rem;
  }
}

// hamburger
$size: 12px;
$spread: 12px;
$trans: cubic-bezier(0.9, 0, 0.1, 1);

#hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate(-50%, -50%);

  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: $size;
    height: $size;
    border-radius: calc(#{$size} / 2);
    border: 1px solid black;
    background-color: black;
    animation: anim 1000ms $trans;
  }

  .topleft {
    left: calc(50% - #{$spread});
    top: calc(50% - #{$spread});
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .topright {
    left: calc(50% + #{$spread});
    top: calc(50% - #{$spread});
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .bottomright {
    left: calc(50% + #{$spread});
    top: calc(50% + #{$spread});
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .bottomleft {
    left: calc(50% - #{$spread});
    top: calc(50% + #{$spread});
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @keyframes anim {
    25% {
      top: 50%;
      left: 50%;
      bottom: auto;
      right: auto;
      height: $size;
      width: 10px;
    }
    50% {
      top: 50%;
      left: 50%;
      bottom: auto;
      right: auto;
      height: 48px;
      width: 6px;
    }
  }
  &.hamburgerAnimation {
    .topleft {
      animation: topleftAnim 1s $trans normal;
    }
    .topright {
      animation: toprightAnim 1s $trans normal;
    }
    .bottomright {
      animation: bottomrightAnim 1s $trans normal;
    }
    .bottomleft {
      animation: bottomleftAnim 1s $trans normal;
    }
  }

  @keyframes topleftAnim {
    0% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  @keyframes toprightAnim {
    0% {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  @keyframes bottomrightAnim {
    0% {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  @keyframes bottomleftAnim {
    0% {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}
.hambButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2.5rem;
  height: 2.5rem;
}
