.navbar {
  font-family: Inter, "Hiragino Sans";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 1rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: blueviolet;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 5px;
}

.open {
  display: flex;
  flex-direction: column;
}

.box-container {
  position: absolute;
  overflow: hidden;
  top: -400;
}

.pointed-box {
  width: 50rem;
  height: 5rem;
  background-color: black;
  -webkit-clip-path: polygon(0 20%, 100% 20%, 80% 100%, 20% 100%);
          clip-path: polygon(0 20%, 100% 20%, 80% 100%, 20% 100%);
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  position: absolute;
  top: 80px;
}

@media (max-width: 780px) {
  .pointed-box {
    width: 15rem;
  }
}
#hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  transform: translate(-50%, -50%);
}
#hamburger > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: calc(12px / 2);
  border: 1px solid black;
  background-color: black;
  animation: anim 1000ms cubic-bezier(0.9, 0, 0.1, 1);
}
#hamburger .topleft {
  left: calc(50% - 12px);
  top: calc(50% - 12px);
  transform: translate(-50%, -50%) rotate(45deg);
}
#hamburger .topright {
  left: calc(50% + 12px);
  top: calc(50% - 12px);
  transform: translate(-50%, -50%) rotate(45deg);
}
#hamburger .bottomright {
  left: calc(50% + 12px);
  top: calc(50% + 12px);
  transform: translate(-50%, -50%) rotate(-45deg);
}
#hamburger .bottomleft {
  left: calc(50% - 12px);
  top: calc(50% + 12px);
  transform: translate(-50%, -50%) rotate(-45deg);
}
@keyframes anim {
  25% {
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    height: 12px;
    width: 10px;
  }
  50% {
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    height: 48px;
    width: 6px;
  }
}
#hamburger.hamburgerAnimation .topleft {
  animation: topleftAnim 1s cubic-bezier(0.9, 0, 0.1, 1) normal;
}
#hamburger.hamburgerAnimation .topright {
  animation: toprightAnim 1s cubic-bezier(0.9, 0, 0.1, 1) normal;
}
#hamburger.hamburgerAnimation .bottomright {
  animation: bottomrightAnim 1s cubic-bezier(0.9, 0, 0.1, 1) normal;
}
#hamburger.hamburgerAnimation .bottomleft {
  animation: bottomleftAnim 1s cubic-bezier(0.9, 0, 0.1, 1) normal;
}
@keyframes topleftAnim {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes toprightAnim {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes bottomrightAnim {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
@keyframes bottomleftAnim {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.hambButton {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 2.5rem;
  height: 2.5rem;
}/*# sourceMappingURL=navigation.css.map */