.slider-container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  position: relative;
  height: 23rem;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

/* Navigation buttons */
button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

button:hover {
  background: rgba(0, 0, 0, 0.7);
}
.canvas {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: block;
}
@media (max-width: 768px) {
  .sliderImage {
    height: auto;
  }
  .prev,
  .next {
    font-size: 20px;
    padding: 8px;
    font-size: 0.8rem;
    background-color: transparent;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}
